.header-class{
    background-color: #335c67;
    border: 2px solid black;
    border-radius: 30px 10px;
    margin: 1%;
    padding: 3px;
    width: 1200px;
}

.header-class h1{
    text-align: center;
    margin: 0px;
    padding: 0%;
}